@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;

  background-color: #1f2142dd;
}
.header > div {
  max-width: 1024px;
  margin: 0 auto;
  height: 55px;
  padding-bottom: 5px;

  color: #fff;
  display: flex;
  align-items: center;
}

.header h1 {
  line-height: 100%;
  margin-top: auto;
  margin-left: 20px;
  float: left;
  font-weight: 300;
  font-size: 32px;
}
.header > div > span {
  line-height: 130%;
  margin-top: auto;
  padding-left: 10px;
  font-size: 16px;
}
.list_object {
  width: 100%;
  margin-top: 45px;
}
.laoder {
  background-color: black;
  margin: 45px auto;
  width: 400px;
  height: 400px;
  background-image: url("./assets/loader.gif");

  background-size: cover;
}
.laoder p {
  text-align: center;
  color: white;
}
.list_object > div {
  max-width: 780px;
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  background-color: grb(106, 121, 9);
  background: linear-gradient(
    90deg,
    rgba(106, 121, 9, 0.6) 0%,
    rgba(103, 184, 60, 1) 80%,
    rgba(106, 121, 9, 0.6) 100%
  );
  border-radius: 15px;
  cursor: pointer;
}
.list_object > div:hover {
  background: linear-gradient(
    45deg,
    rgb(184, 145, 60, 1) 0%,
    rgba(106, 121, 9, 0.6) 60%,
    rgba(103, 184, 60, 1) 100%
  );
}
.list_object > div {
  height: 20px;
}
.list_object > div > div > P {
  text-align: left;
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
}
.list_object > div > div > P:before {
  content: "";
  position: absolute;

  height: 20px;
  width: 20px;
  margin-left: -40px;
  background: url("assets/bus-solid.svg") center left no-repeat;
}
.element {
  min-height: 600px;
}
.show_element {
  position: absolute;
  z-index: 2;
  margin: 10px auto;
  width: 100%;
  left: 0;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;

  box-shadow: 0 0 30px 20px #88888855;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  visibility: visible;
}
.hide_element {
  position: absolute;
  margin-left: -2000px;
  visibility: none;
  z-index: -1;
}
.show_element p {
  text-align: left;
  padding: 5px 5px 5px 50px;
  margin: 5px 10px;
  font-weight: 500;
  font-size: 18px;
  background-color: grb(106, 121, 9);
  background: linear-gradient(
    90deg,
    rgba(191, 144, 13, 0.6) 0%,
    rgb(223, 216, 11) 80%,
    rgba(191, 144, 13, 0.6) 100%
  );
  border-radius: 15px;
}
.show_element P:before {
  content: "";
  position: absolute;
  z-index: 2;
  height: 20px;
  width: 20px;
  margin-left: -40px;
  background: url("assets/house-solid.svg") center left no-repeat;
}

@media (max-width: 1580px) {
  .show_element {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .show_element {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .show_element {
    grid-template-columns: 1fr;
  }
  .show_element p {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
  }
}
